body {
  background-color: #f2f2f7;
  font-family: 'Inter', 'sans-serif';
}
:root {
  --main: #825ef6;
}
.no-border {
  border: none;
}
.no-border:hover {
  border: none !important;
  box-shadow: none !important;
}
.main-bg {
  background-color: var(--main) !important;
}
.white {
  color: white !important;
}
.gap-widgets {
  gap: 30px;
}
.flex-wrap.gap-widgets {
  margin-top: 30px;
}
.logo {
  width: 60px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("../img/icon/logo.png");
}
.logo-text {
  width: 59px;
  height: 24px;
  margin: 0;
  font-family: Inter;
  font-size: 20px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.53px;
  color: #000;
}
.nav-item.active .nav-link, #navbarNav .nav-link:hover {
  color: #825ef6 !important;
}
.main-text {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1.33px;
  text-align: right;
  color: #000;
  padding-top: 70px;
}
.Available-for-iOS-A {
  font-size: 14px;
  letter-spacing: 0.37px;
  text-align: center;
  color: #9d9ca5;
}
.Video-Text-Privat {
  font-size: 18px;
  letter-spacing: 0.48px;
  text-align: center;
  color: #000;
  padding-top: 5px;
}
.cros-plat-hight {
  height: auto;
  padding: 44px 12px 32px;
  margin-top: 30px;
}
.col.widget.mx-3.safe-widget {
  margin-right: 0 !important;
}
.last-row-widget {
  height: 260px;
}
.privacy-desc {
  max-width: 200px;
}
.col.widget.main-bg.white.safe-widget {
  min-height: 262px;
}
.non-custodial {
  max-width: 200px;
  margin: auto;
}
.cross-texts {
  margin-top: 46px;
}
span.Lorem-ipsum-dolor-si.lorem-description {
  max-width: 530px !important;
  display: flex;
}
.priv {
  max-height: 450px;
}
img.Group {
  height: 30px;
  object-fit: contain;
}
.boom-pro .widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 54px 44px;
  background-size: cover;
  background-image: url("../img/icon/bgboompro-min.png");
  background-repeat: no-repeat;
}
img.Group-3 {
  max-width: 700px;
  height: auto;
  width: 100%;
  object-fit: contain;
}
img.Group-12 {
  width: 100%;
  height: 600.4px;
  margin: 71px 0 80.6px;
  object-fit: contain;
}
.btn:hover {
  background-color: var(--main);
  color: white;
}
.widget {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}
.gray-bg {
  background-color: #f2f2f7;
  border-radius: 8px;
  color: #000;
  padding: 15px;
  align-items: center;
  height: 67px;
}
.active-nav {
  color: var(--main) !important;
}
.Lorem-ipsum-dolor-si {
  font-size: 16px;
  letter-spacing: 0.43px;
  color: #9d9ca5;
}
.widget-title {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.Combined-Shape {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/group-12.png");
}
.text-left {
  text-align: left;
}
.h-divider {
  margin-top: 150px;
  height: 1px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
  border-top: 1px solid rgb(226, 223, 223);
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hereo-img {
  background-image: url("https://placeimg.com/640/480/nature");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 506px;
  height: 300px;

  background-image: url("../img/the-app.png");
}
.main-border {
  border: 2px solid var(--main);
}
.main-color {
  color: var(--main);
}
.contact-btn {
  padding: 10px !important;
  margin-bottom: 10px !important;
}
.contact-title {
  width: 100%;
  margin: 23px auto;

  font-family: Inter;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1.33px;
  text-align: right;
  color: #000;
}
.full-width {
  width: 100%;
}

.contact-icon {
  margin: 0 169.2px 23px 168px;
}
.input-style {
  height: 50px;
  width: 100%;
  padding: 17px;
  margin: 6px 0 15px 0;
  border-radius: 8px;
  border: solid 1px #ebebeb;
  background-color: #f6f6f6;
}
.input-style::placeholder {
  width: 100% !important;
}

.input-style-textarea {
  border-radius: 8px;
  width: 100%;
  padding: 17px;
  border: solid 1px #ebebeb;
  margin: 6px 0 15px 0;
  background-color: #f6f6f6;
}
.input-style-textarea::placeholder {
  width: 100%;
}
.modal-content {
  width: 514px !important;
  height: 707px;
  padding: 23px !important;
  border-radius: 20px;
  background-color: #ffffff;
}
.nav-item {
  font-size: 17px;
}
@media only screen and (max-width: 770px) {
  .main-text {
    font-size: 5vw;
  }
}
