body {
    font-family: 'Inter', 'sans-serif';
    background-color: #f2f2f7 !important;
}
p {
    margin: 0;
}
a {
    color: #000 !important;
    text-decoration: unset !important;
}
.footer-details a:hover {
    color: red !important;
}
.map-title {
    font-family: 'Inter', 'sans-serif';
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1.33px;
    color: #000;
}
.modal-backdrop.show #basicModal{
    display: block;
    max-width: 300px;
}
.modal-content {
    min-width: 300px;
    margin: auto;
}
.modal-content {
    border-radius: 20px !important;
    margin-top: 40px;
}
.roadmap-page-pad {
    padding: 40px 0 0;
    background-color: #f2f2f7;
}
button.close.btn.my-0.primary-btn.main-border.main-color.full-width {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.37px;
    text-align: center;
    color: #825ef6;
    border: 1px solid #825ef6;
    padding: 13px;
}
.small-title {
    font-size: 18px;
    letter-spacing: 0.48px;
    color: #000;
    padding-bottom: 70px;
}
.subtitle-bg {
    background-repeat: no-repeat;
    background-size: contain;
}
.navbar-light {
    padding: 0 0 69px !important;
}
.purple-date {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.37px;
    color: #825ef6;
}
.tos h2 {
    margin-bottom: 0.5rem;
    margin-top: 23px;
}
.bg-0 {
    background-color: unset;
}
.grey-circle {
    min-width: 36px;
    height: 36px;
    border: solid 1px #fff;
    border-radius: 50%;
    background-color: #e0e3ec;
    z-index: 999;
    margin-top: 30px;
    position: absolute;
}
.cnt-steps {
    position: relative;
    margin-right: 60px;
}
.done-green {
    border-radius: 50%;
    min-width: 49px;
    height: 49px;
    background-color: #2cd182;
    z-index: 999;
    margin-top: 30px;
    text-align: center;
    padding-top: 12px;
    position: absolute;
    left: -6px;
}
.active-step {
    border-radius: 50%;
    z-index: 999;
    margin-top: 30px;
    text-align: center;
    padding-top: 9px;
    position: absolute;
    left: -15px;
    width: 66px;
    height: 66px;
    background-color: #f5e4c6;
}
.main-circle {
    width: 28px;
    height: 28px;
    background-color: #ffaa02;
    border-radius: 50%;
    margin: auto;
}
.nav-item.active .nav-link {
    color: #825ef6 !important;
}
.nav-item {
    font-size: 17px;
}
.bigger-circle {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: #f7d89e;
    margin: auto;
    display: flex;
    align-items: center;
}
.absolute-line {
    width: 9px;
    height: 82%;
    position: absolute;
    left: 13.5px;
    top: 46%;
    transform: translateY(-50%);
    background-color: #e0e3ec;
}
.steps-select {
    position: relative;
}
.title-cnt {
    display: flex;
    align-items: flex-start;
}
.subtitle-small {
    font-size: 14px;
    letter-spacing: 0.37px;
    color: #9d9ca5;
}
.all-rights {
    font-size: 14px;
    letter-spacing: 0.37px;
    text-align: center;
    color: #9d9ca5;
    padding-bottom: 36px;
    padding-top: 30px;
    border-top: 1px solid #dddde8;
}
.footer-cols {
    border-top: 1px solid #dddde8;
    padding: 40px 0;
    margin-top: 110px;
}
p.title {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.67px;
    color: #000;
}
p.desc {
    font-size: 16px;
    letter-spacing: 0.43px;
    color: #4e4d58;
}
.title-text {
    padding-bottom: 60px;
}
.current p.title {
    color: #019900;
}
.title-small-footer {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.43px;
    color: #000;
    padding-bottom: 20px;
}
.footer-cols li {
    list-style-type: none;
    padding-bottom: 20px;
}
button.navbar-toggler:focus {
    box-shadow: unset;
}
.crypto-wallet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 59px;
}
.connection.text-center {
    padding-bottom: 40px;
}
.full-privacy {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}
.privacy-ups {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5.5px 0 25px !important;
}
.priv-cols {
    padding: 0 !important;
}
.ultra-safe {
    padding-top: 40px;
}
.safe-widget {
    padding-left: 25px;
}
img.shot-image {
    max-width: 169px;
}
#navbarNav .nav-link:hover {
    color: #825ef6 !important;
}
.peer-footer {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.48px;
    color: #000;
    padding: 14px 0 12px;
}
.absolute-text {
    position: absolute;
}
.relative-widget {
    position: relative;
    display: flex;
    justify-content: right;
}
.blockchain-title {
    padding-top: 35px;
}
.col.widget.same {
    padding: 40px 25px 25px;
}
.bigger-universal {
    padding: 35px 0 24px 33px;
}
.no-title-footer {
    padding-top: 43px;
}
.col.footer-details {
    display: flex;
    justify-content: space-between;
}
.same {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.same img {
    max-width: 70px;
}
.corner-img {
    max-height: 264px;
}
.ultra-safe-peer {
    padding-top: 37px;
}
.universal-pad-box {
    padding: 44px 35px 25px 25px;
}
.tos .main-text {
    padding-top: 40px;
}
.same .Lorem-ipsum-dolor-si {
    padding-top: 10px;
}
.tos p {
    font-size: 16px;
    letter-spacing: 0.43px;
    color: #4e4d58;
    padding-bottom: 20px;
}
.mac-title {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #000;
    margin-left: 12px;
}

@media(max-width: 1201px) {
    .blockchain-title {
        padding-top: 5px;
    }
    .widget.last-row-widget.mx-2 {
        margin: 0 !important;
    }
    .row.widget.mx-2.cros-plat-hight {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .widget-title {
        font-size: 27px;
    }
    .absolute-line {
        left: 5.5px;
    }
    .grey-circle {
        left: -8px;
    }
    .full-privacy {
        padding-left: 0;
        text-align: center;
    }
    .done-green {
        left: -14px;
    }
    .active-step {
        left: -24px;
    }
}
@media(max-width: 991px) {

    a.nav-link {
        text-align: center;
        border-bottom: 1px solid #e8e8e8;
    }
    .footer-cols ul {
        padding-left: 0;
        margin-top: 20px;
    }
    .absolute-line {
        left: 4.5px;
    }
    .priv {
        max-height: 707px;
    }
}
@media (max-width: 769px) {
    .cnt-steps {
        margin-right: 55px;
    }
    .done-green {
        right: 3px;
    }
    .absolute-line {
        left: 4px;
        top: 46%;
    }
}
@media(max-width: 600px) {

    .roadmap-page-pad {
        padding: 40px 20px 0 20px;
    }
    .col {
        flex-basis: unset !important;
    }
    .privacy-desc {
         max-width: unset;
    }
    .universal-pad-box {
        padding: 25px 35px 25px 25px;
    }
    .d-flex.flex-wrap.gap-widgets {
        flex-direction: column;
    }
    .map-title {
        font-size: 30px;
    }
    .cnt-steps {
        margin-right: 50px;
    }
    .steps-select {
        padding: 0 20px;
    }
    .absolute-line {
        left: 46px;
        height: 83%;
    }
    .active-step {
        right: -8px;
    }
    .grey-circle {
        right: 8px;
    }
    .done-green {
        right: 6px;
    }
    p.title {
        font-size: 20px;
    }
    .widget-title {
        font-size: 25px;
    }
    .connection.text-center {
        padding-bottom: 10px;
    }
    .crypto-wallet {
        padding-top: 35px;
    }
    .col.footer-details {
        flex-direction: column;
        padding: 20px 15px;
    }
    .col.footer-details ul {
        margin: 0;
    }
    .no-title-footer {
        padding-top: 0;
    }
}
@media(max-width: 470px) {

    .footer-cols .col.d-flex.justify-content-between {
        flex-direction: column !important;
    }
    .footer-cols ul {
        margin-bottom: 0;
    }
    .widget-title {
        font-size: 21px;
    }
    .Lorem-ipsum-dolor-si {
        font-size: 15px;
    }
    .flex-wrap {
        flex-wrap: unset !important;
        flex-direction: column;
    }
    .responsive-wallet {
        padding-bottom: 20px;
    }
    .absolute-line {
        left: 25px;
        height: 82%;
        top: 44%;
    }
    .priv {
        max-height: 600px;
    }
    img.shot-image {
        display: none;
    }
    .blockchain-title {
        padding-top: 27px;
    }
    .safe-widget {
        padding-left: 15px;
    }
}
@media(max-width: 400px) {
    .absolute-line {
        top: 44%;
        left: 25px;
    }
    .ultra-safe-peer {
        padding-top: 40px;
    }
    .boom-pro .widget {
        padding: 40px 44px;
    }
}
@media(max-width: 350px) {
    .ultra-safe-peer {
        padding-top: 10px;
    }
}

