body {
    background-color: #f2f2f7 !important;
    overflow-x: hidden;
    font-family: 'Inter', 'sans-serif';
}
p {
    margin: 0;
}
a {
    color: #000 !important;
    text-decoration: unset !important;
}
.been-sent {
    font-family: 'Inter', 'sans-serif';
}
:root {
    --main: #825ef6;
}
.no-border {
    border: none;
}
.no-border:hover {
    border: none !important;
    box-shadow: none !important;
}
.main-bg {
    background-color: var(--main) !important;
}
.white {
    color: white !important;
}
.gap-widgets {
    gap: 30px;
}
.flex-wrap.gap-widgets {
    margin-top: 30px;
}
.logo {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url("../img/icon/logo.png");
}
.logo-text {
    width: 59px;
    height: 24px;
    margin: 0;
    font-family: 'Inter', 'sans-serif';
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.53px;
    color: #000;
}
.nav-item.active .nav-link, #navbarNav .nav-link:hover {
    color: #825ef6 !important;
}
.main-text {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.33px;
    text-align: right;
    color: #000;
    padding-top: 70px;
}
.Available-for-iOS-A {
    font-size: 14px;
    letter-spacing: 0.37px;
    text-align: center;
    color: #9d9ca5;
}
.Video-Text-Privat {
    font-size: 18px;
    letter-spacing: 0.48px;
    text-align: center;
    color: #000;
    padding-top: 5px;
}
.cros-plat-hight {
    height: auto;
    padding: 44px 12px 32px 32px;
    margin-top: 30px;
}
.col.widget.mx-3.safe-widget {
    margin-right: 0 !important;
}
.last-row-widget {
    height: 260px;
}
.privacy-desc {
    max-width: 200px;
}
.col.widget.main-bg.white.safe-widget {
    min-height: 262px;
}
.non-custodial {
    max-width: 200px;
    margin: auto;
}
.cross-texts {
    margin-top: 46px;
}
span.Lorem-ipsum-dolor-si.lorem-description {
    max-width: 530px !important;
    display: flex;
}
.priv {
    max-height: 450px;
}
img.Group {
    height: 30px;
    object-fit: contain;
}
.boom-pro .widget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 54px 44px;
    background-size: cover;
    background-image: url("../img/icon/bgboompro-min.png");
    background-repeat: no-repeat;
}
img.Group-3 {
    max-width: 700px;
    height: auto;
    width: 100%;
    object-fit: contain;
}
img.Group-12 {
    width: 100%;
    height: 600.4px;
    margin: 71px 0 80.6px;
    object-fit: contain;
}
.modal-content .btn:hover {
    background-color: #825ef6;
    color: white !important;
}
.widget {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}
.gray-bg {
    background-color: #f2f2f7;
    border-radius: 8px;
    color: #000;
    padding: 15px;
    align-items: center;
    height: 67px;
}
.active-nav {
    color: var(--main) !important;
}
.Lorem-ipsum-dolor-si {
    font-size: 16px;
    letter-spacing: 0.43px;
    color: #9d9ca5;
}
.widget-title {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.8px;
}
.Combined-Shape {
    width: 100%;
    margin-bottom: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/group-12.png");
}
.text-left {
    text-align: left;
}
.h-divider {
    margin-top: 150px;
    height: 1px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 60px;
    border-top: 1px solid rgb(226, 223, 223);
}
.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hereo-img {
    background-image: url("https://placeimg.com/640/480/nature");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 506px;
    height: 300px;

    background-image: url("../img/the-app.png");
}
.main-border {
    border: 2px solid var(--main);
}
.main-color {
    color: var(--main);
}
.contact-btn {
    padding: 10px !important;
    margin-bottom: 10px;
}
.contact-title {
    width: 100%;
    margin: 23px auto;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.33px;
    text-align: right;
    color: #000;
}
.contact-title-error {
    width: 100%;
    margin: 23px auto;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.33px;
    text-align: right;
    color: red;
}
.full-width {
    width: 100%;
}

.contact-icon {
    margin: 0 169.2px 23px 168px;
}
.input-style {
    height: 50px;
    width: 100%;
    padding: 17px;
    margin: 6px 0 15px 0;
    border-radius: 8px;
    border: solid 1px #ebebeb;
    background-color: #f6f6f6;
}
.input-style::placeholder {
    width: 100% !important;
}

.input-style-textarea {
    border-radius: 8px;
    width: 100%;
    padding: 17px;
    border: solid 1px #ebebeb;
    margin: 6px 0 15px 0;
    background-color: #f6f6f6;
}
.input-style-textarea::placeholder {
    width: 100%;
}
body .navbar-light {
    padding: 40px 0 109px;
}
.footer-details a:hover {
    color: #825ef6 !important;
}
.map-title {
    font-family: 'Inter', 'sans-serif';
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1.33px;
    color: #000;
}
.modal-backdrop.show #basicModal{
    display: block;
    max-width: 300px;
}
.modal-content {
    min-width: 300px;
    margin: auto;
}
.modal-content {
    border-radius: 20px !important;
    margin-top: 40px;
}
.roadmap-page-pad {
    background-color: #f2f2f7;
}
button.close.btn.my-0.primary-btn.main-border.main-color.full-width {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.37px;
    text-align: center;
    color: #825ef6;
    border: 1px solid #825ef6;
    padding: 13px;
}
.small-title {
    font-size: 18px;
    letter-spacing: 0.48px;
    color: #000;
    padding-bottom: 70px;
}
.subtitle-bg {
    background-repeat: no-repeat;
    background-size: contain;
}
.purple-date {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.37px;
    color: #825ef6;
}
.tos h2 {
    margin-bottom: 0.5rem;
    margin-top: 23px;
}
.bg-0 {
    background-color: unset;
}
.grey-circle {
    min-width: 36px;
    height: 36px;
    border: solid 1px #fff;
    border-radius: 50%;
    background-color: #e0e3ec;
    z-index: 999;
    margin-top: 30px;
    position: absolute;
}
.cnt-steps {
    position: relative;
    margin-right: 60px;
}
.done-green {
    border-radius: 50%;
    min-width: 49px;
    height: 49px;
    background-color: #2cd182;
    z-index: 999;
    margin-top: 30px;
    text-align: center;
    padding-top: 12px;
    position: absolute;
    left: -6px;
}
.active-step {
    border-radius: 50%;
    z-index: 999;
    margin-top: 30px;
    text-align: center;
    padding-top: 9px;
    position: absolute;
    left: -15px;
    width: 66px;
    height: 66px;
    background-color: #f5e4c6;
}
.main-circle {
    width: 28px;
    height: 28px;
    background-color: #ffaa02;
    border-radius: 50%;
    margin: auto;
}
.active {
    color: #825ef6 !important;
}
.tos h1 {
    font-size: 31px;
}
.tos h2 {
    font-size: 24px;
}
.nav-item {
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 0.45px;
}
.bigger-circle {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: #f7d89e;
    margin: auto;
    display: flex;
    align-items: center;
}
.absolute-line {
    width: 9px;
    height: 82%;
    position: absolute;
    left: 13.5px;
    top: 46%;
    transform: translateY(-50%);
    background-color: #e0e3ec;
}
.steps-select {
    position: relative;
}
.title-cnt {
    display: flex;
    align-items: flex-start;
}
.subtitle-small {
    font-size: 14px;
    letter-spacing: 0.37px;
    color: #9d9ca5;
}
.all-rights {
    font-size: 14px;
    letter-spacing: 0.37px;
    text-align: center;
    color: #9d9ca5;
    padding-bottom: 36px;
    padding-top: 30px;
    border-top: 1px solid #dddde8;
}
.footer-cols {
    border-top: 1px solid #dddde8;
    padding: 40px 0;
    margin-top: 110px;
}
p.title {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.67px;
    color: #000;
}
p.desc {
    font-size: 16px;
    letter-spacing: 0.43px;
    color: #4e4d58;
}
.title-text {
    padding-bottom: 60px;
}
.current p.title {
    color: #019900;
}
.title-small-footer {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.43px;
    color: #000;
    padding-bottom: 20px;
}
.footer-cols li {
    list-style-type: none;
    padding-bottom: 20px;
}
button.navbar-toggler:focus {
    box-shadow: unset;
}
.crypto-wallet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.connection.text-center {
    padding-bottom: 40px;
}
.full-privacy {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}
.privacy-ups {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 25px !important;
}
.priv-cols {
    padding: 0 !important;
}
.col.widget.crypto-wallet {
    padding: 59px 0 0;
}
.ultra-safe {
    padding-top: 20px;
}
.safe-widget {
    padding: 40px 25px 25px;
    border-radius: 20px;
    background-color: #fff;
}
.gap-widgets.duo-wid {
    display: flex;
}
img.shot-image {
    max-width: 169px;
}
#navbarNav .nav-link:hover {
    color: #825ef6 !important;
}
.peer-footer {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.48px;
    color: #000;
    padding: 14px 0 12px;
}
.absolute-text {
    position: absolute;
}
.relative-widget {
    position: relative;
    display: flex;
    justify-content: right;
}
.blockchain-title {
    padding-top: 15px;
}
.col.widget.same {
    padding: 40px 25px 25px;
}
.bigger-universal {
    padding: 35px 0 24px 32px;
}
.safe-inside {
    padding: 0 25px 25px 25px;
}
.safe-inside-second {
    padding: 0 0 25px 10px;
}
.no-title-footer {
    padding-top: 43px;
}
.col.footer-details {
    display: flex;
    justify-content: space-between;
}
.same {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.same img {
    max-width: 70px;
}
.corner-img {
    max-height: 264px;
}
.ultra-safe-peer {
    padding-top: 22px;
}
.universal-pad-box {
    padding: 33px 35px 25px 25px;
}
.tos .main-text {
    padding-top: 40px;
}
.same .Lorem-ipsum-dolor-si {
    padding-top: 10px;
}
.tos p {
    font-size: 16px;
    letter-spacing: 0.43px;
    color: #4e4d58;
    padding-bottom: 20px;
}
.mac-title {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #000;
    margin-left: 12px;
}
.modal-content {
    width: 514px !important;
    padding: 60px !important;
    border-radius: 20px;
    background-color: #ffffff;
}
.been-sent {
    font-size: 16px;
    letter-spacing: 0.43px;
    text-align: center;
    color: #000;
    padding-top: 9px;
    padding-bottom: 37px;
}
.close:hover {
    text-shadow: unset;
}
button.btn.contact-btn.primary-btn.main-bg.white.full-width {
    font-size: 14px;
    font-weight: 500;
}


@media(max-width: 1201px) {
    .blockchain-title {
        padding-top: 5px;
    }
    .widget.last-row-widget.mx-2 {
        margin: 0 !important;
    }
    .row.widget.mx-2.cros-plat-hight {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .widget-title {
        font-size: 27px;
    }
    .absolute-line {
        left: 5.5px;
    }
    .grey-circle {
        left: -8px;
    }
    .full-privacy {
        padding-left: 0;
        text-align: center;
    }
    .done-green {
        left: -14px;
    }
    .active-step {
        left: -24px;
    }
}
@media(max-width: 991px) {

    img.Group-3 {
        padding: 0 20px;
    }
    .privacy-desc {
        max-width: unset;
        padding: 0 10px;
    }
    .col.widget.crypto-wallet {
        padding: 20px 0 0;
    }
    a.nav-link {
        text-align: center;
        border-bottom: 1px solid #e8e8e8;
    }
    .footer-cols ul {
        padding-left: 0;
        margin-top: 20px;
    }
    .absolute-line {
        left: 4.5px;
    }
    .priv {
        max-height: 707px;
    }
}
@media (max-width: 769px) {
    .cnt-steps {
        margin-right: 55px;
    }
    .done-green {
        right: 3px;
    }
    .absolute-line {
        left: 4px;
        top: 46%;
    }
    .universal-pad-box {
        padding: 30px 35px 25px 25px;
    }
}
@media(max-width: 600px) {

    p.mac-title.mb-0 {
        margin-bottom: 0 !important;
    }
    .modal-content {
        width: auto !important;
        margin: 20% 16px 0;
        padding: 20px !important;
    }
    .tos .main-text {
        font-size: 28px !important;
    }
    .tos h1 {
        font-size: 22px;
    }
    .index-landing p {
        margin-bottom: 15px !important;
    }
    .bigger-universal {
        padding: 25px;
    }
    .cros-plat-hight {
        padding: 34px 22px 32px 25px;
    }
    nav.navbar.navbar-expand-lg.navbar-light {
        padding-right: 16px !important;
        padding-left: 16px !important;
    }
    .gap-widgets.duo-wid {
        flex-direction: column;
    }
    .responsive-wallet {
        margin-bottom: 20px;
    }
    .col {
        flex-basis: unset !important;
    }
    .privacy-desc {
         max-width: unset;
    }
    .universal-pad-box {
        padding: 25px 35px 25px 25px;
    }
    .d-flex.flex-wrap.gap-widgets {
        flex-direction: column;
    }
    .map-title {
        font-size: 30px;
    }
    .cnt-steps {
        margin-right: 50px;
    }
    .steps-select {
        padding: 0 20px;
    }
    .absolute-line {
        left: 26px;
        height: 83%;
    }
    .active-step {
        right: -8px;
    }
    .grey-circle {
        right: 8px;
    }
    .done-green {
        right: 6px;
    }
    p.title {
        font-size: 20px;
    }
    .widget-title {
        font-size: 25px;
    }
    .connection.text-center {
        padding-bottom: 10px;
    }
    .crypto-wallet {
        padding-top: 35px;
    }
    .col.footer-details {
        flex-direction: column;
        padding: 20px 15px;
    }
    .col.footer-details ul {
        margin: 0;
    }
    .no-title-footer {
        padding-top: 0;
    }
}
@media(max-width: 470px) {

    .footer-cols .col.d-flex.justify-content-between {
        flex-direction: column !important;
    }
    .footer-cols ul {
        margin-bottom: 0;
    }
    .widget-title {
        font-size: 21px;
    }
    .Lorem-ipsum-dolor-si {
        font-size: 15px;
    }
    .flex-wrap {
        flex-wrap: unset !important;
        flex-direction: column;
    }
    .responsive-wallet {
        padding-bottom: 20px;
    }
    .absolute-line {
        left: 25px;
        height: 84%;
        top: 46%;
    }
    .priv {
        max-height: 600px;
    }
    img.shot-image {
        display: none;
    }
    .blockchain-title {
        padding-top: 27px;
    }
}
@media(max-width: 440px) {
    .absolute-line {
        left: 25px;
        height: 81%;
        top: 45%;
    }
    .main-text {
        font-size: 46px;
        padding-top: 46px;
    }
}
@media(max-width: 400px) {

    .widget.cros-plat-hight .d-flex.gap-2 {
        flex-direction: column;
    }
    .gray-bg {
        justify-content: center;
    }
    .index-landing p {
        margin-bottom: 5px !important;
    }
    .absolute-line {
        left: 25px;
        height: 82%;
    }
    .ultra-safe-peer {
        padding-top: 24px;
    }
    .boom-pro .widget {
        padding: 40px 15px;
    }
}
@media(max-width: 350px) {
    .ultra-safe-peer {
        padding-top: 10px;
    }
    img.connection {
        width: 38px;
    }
    .absolute-line {
        top: 45%;
    }
}

